#title-Profile{
	position: relative !important;
	top:-5% !important;
}

.infowrapper{
	margin:auto;
	margin-top:150px;
	width: 75%;
}

.contectwrapper{
	width: 60%;
	margin: auto;
}

.myimg{
}

#myimgView{
	width: 160px;
}

.myinfo{
    margin: auto;
    width: 80%;
    text-align: left;
    font-size: 1rem;
}

.myinfo1{
	/* margin-top:10%; */
	width:70%;
	float: right;
	text-align: left;
	font-size: 1.1rem;
}

.etc{
	text-align:left;
	float: left;
}

.subtitle{
	font-size:1.5rem;
	margin: 0;
	font-weight: bold;
}
.content-subtitle{
	margin-top:5%;
	font-size: 14pt;
}

.moreView{
	font-size: 1.5rem;
	width:15%;
	margin-left:auto;
	margin-right:auto;
	padding:2%;
	color: white;
	border: 1px solid white;
}

.moreView :hover{
	color:#f5b010;
}

.contect-info{
	float: left;
	width:33%;
	text-align: center;
	font-size: 1rem;
}

.contect-info:hover{
	color:#c9f4f5;
}

.git{
	font-size: 1rem;
	color:white;
}

.pjno{
	position: absolute;
	top:10%;
	left:10%;
	font-size: 1.5rem;
	cursor: default;
	z-index: 1;
}

.authorscus{
	position: relative;
	bottom: 8%;
	color:#ffffff;
	cursor: default;
}

.detailinfo{
	/* margin-top:20%; */
	width:60%;
	text-align: left;
	margin-left:20%;
	cursor: default;
}
.detailinfo>p{
	font-size: 15pt !important;
	cursor: default;
}
.detailinfo>h2{
	font-size: 18pt !important;
	cursor: default;
	margin-bottom: 10pt
}

/* typing effect */
.output {
display:none;
}
.active:after {
  content: '_';
}

/* main logo*/

  .logo {

  	font: 700 4em/1 "Oswald", sans-serif;
  	letter-spacing: 0;
  	padding: .25em 0 .325em;
	  display: block;
	  margin: 0 auto;
  	text-shadow: 0 0 80px rgba(255,255,255,.5);

/* Clip Background Image */

	  /* background: url(../portfolio/images/animated_text_fill.png) repeat-y; */
	  background: url(../images/animated_text_fill.png) repeat-y;
	  -webkit-background-clip: text;

/* Animate Background Image */

	  -webkit-text-fill-color: transparent;
	  -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

	  -webkit-transform: translate3d(0,0,0);
	  -webkit-backface-visibility: hidden;

}

/* Animate Background Image */

@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}

.point{
	color:#ffd5d5;
}

.downbtn{
	cursor:pointer;
	color:white;
	font-size:35px;
	position: fixed;
	top:50%;
	left:90%;
	text-align:center;
	z-index: 10;	
}

.upbtn{
	cursor:pointer;
	color:white;
	font-size:35px;
	position: fixed;
	top:40%;
	left:90%;
	text-align:center;
	z-index: 10;	
}
.upbtn:hover{
	color:#ffff4a;
}

.downbtn:hover{
	color:#ffff4a;
}
